@model List<Zapatilla>

<h1>Practica ZAPATILLAS</h1>

<ul class="list-group">
	@foreach (Zapatilla zapa in Model)
	{
		<li class="list-group-item">
			<a class="btn btn-dark" asp-controller="Paginacion"
			   asp-action="EmpleadosDepartamento"
			   asp-route-iddepartamento="@zapa.IdProducto">
				@zapa.Nombre
			</a>
		</li>
	}
</ul>